body {background-color: black; font-family: arial; color: white}
h1 {color: grey; font-family: verdana; text-align: center;}
p {text-indent: 100px;}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
.subdiv {
    position: relative;
    left: 100px;
}